{% extends 'base.html' %}

{% block title %}
<title>Розділ "{{category_name}}" - LogikaBlog</title>
{% endblock title %}

{% block content %}
    
    <main class="container my-5 ">
        <h1 class="my-4">Розділ {{category_name}}</h1>
        <div class="d-flex flex-wrap justify-content-center gap-3">
        {% for article in articles %}
          <div class="card" style="width: 18rem;">
            {% if article[4] %}
               <img src="{{ url_for('static', filename='img/' + article[4]) }}" class="card-img-top" alt="...">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{ article[1] }}</h5>
              <p class="card-text"> {{ article[2] }}</p>
              <a href="{{url_for('article_page', article_id=article[0])}}" class="btn btn-primary">Читати</a>
            </div>
          </div>
        {% endfor %}
      </div>
    </main>
{% endblock content %}