{% extends 'base.html' %}

{% block title %}
<title>Нова стаття - LogikaBlog</title>
{% endblock title %}

{% block content %}

<main class="container my-5 ">
  <h1 class="my-4">Додавання статті </h1>
    
  <form action="" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Заголовок статті</label>
        <input required name="title" type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Короткий опис</label>
        <textarea required name="description"  class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
      </div>
          <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Текст статті</label>
        <textarea required name="text"  class="form-control" id="exampleFormControlTextarea1" rows="7"></textarea>
      </div>

      <div class="mb-3">
        <label for="formFile" class="form-label">Виберіть зображення</label>
        <input required name="image"  class="form-control" type="file" id="formFile">
      </div>
      <select required name="category" class="form-select" aria-label="Default select example">
        <option value="" selected>Виберіть категорію</option>
        {% for id, title in categories %}
            <option value="{{id}}">{{title}}</option>
        {% endfor %}
      </select>
      <button type="submit" class="btn btn-primary my-4">Зберегти</button>
  </form>

</main>
{% endblock content %}